.alert-error {
    color: rgb(117, 0, 0);
    background-color: pink;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 100px;
    border-radius: 50%;
}

body {
    font-family: monospace;
    background-color: rgb(151, 252, 218);
    color: rgb(109, 1, 109);
}

#root {
    display: grid;
    grid-template: 50px 30px 1fr / 1fr 1fr;
    grid-template-areas: "header header""select select""repo contributors";
    gap: 10px 10px;
}

h1 {
    grid-area: header;
    text-align: center;
}

#repoList {
    grid-area: select;
    padding-left: 10px;
    display: flex;
    align-content: space-between;
}

select {
    align-self: center;
    font-family: monospace;
    font-size: 12px;
    max-width: 90%;
    margin-top: 30px;
    background-color: white;
}

#selected {
    grid-area: repo;
    font-size: 16px;
    text-align: justify;
    margin: 10px;
}

.selected {
    background-color: rgb(255, 226, 253);
    padding: 10px;
}

#contributors {
    grid-area: contributors;
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 10px;
}

.contributors {
    padding: 3px;
}

img {
    max-width: 20%;
}

/* DEFAULT DESIGN #### Desktops #### */

@media screen and (min-device-width: 1025px) {
    #root {
        grid-template: 50px 30px 1fr / 1fr 1fr;
        gap: 10px 10px;
    }

    h1 {
        line-height: 30px;
    }

    #repoList {
        padding-left: 10px;
    }

    select {
        font-size: 12px;
        max-width: 90%;
        margin-top: 30px;
    }

    #selected {
        font-size: 16px;
        text-align: justify;
        margin: 10px;
    }

    .selected {
        padding: 10px;
    }

    #contributors {
        font-size: 14px;
        margin: 10px;
    }

    .contributors {
        padding: 3px;
    }

    img {
        max-width: 20%;
    }
}

/* #### Tablets Portrait or Landscape #### */

@media screen and (min-device-width: 768px) {
    #root {
        grid-template: 50px 30px 1fr / 1fr 1fr;
        gap: 8px 8px;
    }

    h1 {
        line-height: 30px;
    }

    #repoList {
        padding-left: 5px;
    }

    select {
        font-size: 11px;
        margin-top: 30px;
    }

    #selected {
        font-size: 14px;
        text-align: justify;
        margin: 5px;
    }

    .selected {
        padding: 5px;
    }

    #contributors {
        font-size: 12px;
        margin: 5px;
    }

    .contributors {
        padding: 2px;
    }

    img {
        max-width: 15%;
    }
}

/* #### Mobile Phones Portrait or Landscape #### */

@media screen and (max-device-width: 640px) {
    #root {
        grid-template: 30px 20px 1fr / 1fr 1fr;
        gap: 3px 3px;
    }

    #repoList {
        padding-left: 3px;
    }

    select {
        font-size: 10px;
        margin-top: 30px;
    }

    #selected {
        font-size: 11px;
        text-align: justify;
        margin: 3px;
    }

    .selected {
        padding: 3px;
    }

    #contributors {
        font-size: 10px;
        margin: 3px;
    }

    .contributors {
        padding: 1px;
    }

    img {
        max-width: 20%;
    }
}